* {
  all: unset;
  font-size: 1rem;
}

#match.activatable {
  border-radius: 20px;
  padding: 0.3rem 0.9rem;
  margin-top: 0.1rem;
}

#plugin:hover #match.activatable {
  border-radius: 20px;
  padding: 0.3rem;
  margin-top: 0.01rem;
  margin-bottom: 0;
}

#match:selected,
#match:hover,
#plugin:hover {
  background: #262626;
}

#entry {
  background: #161616;
  border: 1px solid #161616;
  border-radius: 20px;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
}

box#main {
  background: #161616;
  box-shadow:
    inset 0 0 0 1px #161616,
    0 0 0 1px #161616;
  border-radius: 24px;
  padding: 0.3rem;
}
